.error{
    background-color: darkred;
    width:100%;
    border: 2px solid rgb(255, 213, 213);
    padding: 1em;
}

input {
    margin-right: 100%;
    margin-top:2em;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
    margin-bottom: .5em;
}

input.ng-valid.ng-dirty {
    border: 1px solid green;   
}