<span>{{ title }} app is running!</span>

<!-- <form (submit)="onSubmit(registrationForm.status)" #registrationForm="ngForm">
  <input [(ngModel)]="name" type="text" name="name" placeholder="Name"/>
  <input #emailInput="ngModel" [(ngModel)]="email" type="text" name="email" placeholder="Email" required/>
  <div [hidden]="emailInput.valid || emailInput.untouched" class="error">
    Email is required.
  </div>
  <input [(ngModel)]="password" type="password" name="password" placeholder="Password"/>
  <input type="submit" />
</form> -->

<div appMySimple>
  This is simple text.
</div>

<div *ngIf="isCasual; else casualText">
  Hey Man
</div>

<ng-template #casualText>
  <div>Hello Man</div>  
</ng-template>

<!-- <div *ngIf="!isCasual">
  Hello Man
</div> -->

<button (click)="toggle()">Toggle</button>
<br>

<!-- <ng-template appMyIf [show]="view">
  <h1>Hello, Venkatram</h1>
</ng-template> -->

<h1 *appMyIf="view">Hello, Venkatram</h1>
<br>
<button (click)="toggleMe()">Toggle Me</button>

<router-outlet></router-outlet>